<% provide(:title, "Top") %>
<div class="container">
  <h1>在庫管理システム</h1>
  <div class="text-center">
    <div class="btn-group-vertical">
      <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %><br>
      <%= link_to "LINEログイン" , "#", class: "btn btn-lg btn-success" %><br>
      <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-info" %>
    </div>
  </div>
</div>