// Place all the styles related to the Stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.col-md-8{

    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 検索結果編集モーダルウインドウ */

  .label-search-result {
    margin-top: 5px;
  }
  
  .btn-search-result {
    margin: 15px 0;
    width: 30%;
  }

/* 検索結果編集モーダルウインドウ */

.label-stock-detail {
  margin-top: 5px;
}

.btn-stock-detail {
  margin: 15px 0;
  width: 30%;
}
